![Illustration of silhouetted heads](mentalhealth.jpg)

Does going to university in a different country affect your mental health? A Japanese international university surveyed its students in 2018 and published a study the following year that was approved by several ethical and regulatory boards.

The study found that international students have a higher risk of mental health difficulties than the general population, and that social connectedness (belonging to a social group) and acculturative stress (stress associated with joining a new culture) are predictive of depression.


Explore the `students` data using PostgreSQL to find out if you would come to a similar conclusion for international students and see if the length of stay is a contributing factor.

Here is a data description of the columns you may find helpful.

| Field Name    | Description                                      |
| ------------- | ------------------------------------------------ |
| `inter_dom`     | Types of students (international or domestic)   |
| `japanese_cate` | Japanese language proficiency                    |
| `english_cate`  | English language proficiency                     |
| `academic`      | Current academic level (undergraduate or graduate) |
| `age`           | Current age of student                           |
| `stay`          | Current length of stay in years                  |
| `todep`         | Total score of depression (PHQ-9 test)           |
| `tosc`          | Total score of social connectedness (SCS test)   |
| `toas`          | Total score of acculturative stress (ASISS test) |

In [9]:
SELECT *
FROM students
LIMIT 5;

  inter_dom region  gender academic  ...  religion_bi  alone_bi  others_bi internet_bi
0     Inter    SEA    Male     Grad  ...           No        No         No          No
1     Inter    SEA    Male     Grad  ...           No        No         No          No
2     Inter    SEA    Male     Grad  ...           No        No         No          No
3     Inter     EA  Female     Grad  ...           No        No         No          No
4     Inter     EA  Female     Grad  ...          Yes        No         No          No

[5 rows x 50 columns]

In [10]:
SELECT COUNT(*) AS total_records
FROM students;

   total_records
0            286

In [11]:
SELECT inter_dom, COUNT(*) AS total
FROM students 
GROUP BY inter_dom;

  inter_dom  total
0       Dom     67
1               18
2     Inter    201

In [12]:
SELECT inter_dom ,MIN(todep) AS min_phq , MAX(todep) AS max_phq , 
 ROUND(AVG(todep) ,2) AS avg_phq
FROM students
GROUP BY inter_dom;

  inter_dom  min_phq  max_phq  avg_phq
0       Dom      0.0     23.0     8.61
1                NaN      NaN      NaN
2     Inter      0.0     25.0     8.04

In [13]:
SELECT inter_dom ,MIN(tosc) AS min_sc , MAX(tosc) AS max_sc , 
ROUND(AVG(tosc) ,2) AS avg_sc
FROM students
GROUP BY inter_dom;

  inter_dom  min_sc  max_sc  avg_sc
0       Dom     8.0    48.0   37.64
1               NaN     NaN     NaN
2     Inter    11.0    48.0   37.42

In [14]:
SELECT inter_dom ,MIN(toas) AS min_as , MAX(toas) AS max_as , ROUND(AVG(toas) ,2)
AS avg_as
FROM students
GROUP BY inter_dom;

  inter_dom  min_as  max_as  avg_as
0       Dom    36.0   112.0   62.84
1               NaN     NaN     NaN
2     Inter    36.0   145.0   75.56

In [15]:
-- Start coding here...
SELECT stay, 
       COUNT(*) AS count_int,
       ROUND(AVG(todep), 2) AS average_phq, 
       ROUND(AVG(tosc), 2) AS average_scs, 
       ROUND(AVG(toas), 2) AS average_as
FROM students
WHERE inter_dom = 'Inter'
GROUP BY stay
ORDER BY stay DESC

   stay  count_int  average_phq  average_scs  average_as
0    10          1        13.00        32.00       50.00
1     8          1        10.00        44.00       65.00
2     7          1         4.00        48.00       45.00
3     6          3         6.00        38.00       58.67
4     5          1         0.00        34.00       91.00
5     4         14         8.57        33.93       87.71
6     3         46         9.09        37.13       78.00
7     2         39         8.28        37.08       77.67
8     1         95         7.48        38.11       72.80

In [2]:
SELECT 
    stay_cate AS stay_group,
    ROUND(AVG(aph), 2) AS avg_phq9
FROM students
GROUP BY stay_cate
ORDER BY avg_phq9;

  stay_group  avg_phq9
0      Short      8.90
1     Medium      9.10
2       Long     10.13
3                  NaN

In [3]:
SELECT 
    stay_cate AS stay_group,
    ROUND(AVG(tosc), 2) AS avg_social_connectedness
FROM students
GROUP BY stay_group
ORDER BY avg_social_connectedness DESC;

  stay_group  avg_social_connectedness
0                                  NaN
1      Short                     37.94
2     Medium                     37.48
3       Long                     35.78

In [1]:
SELECT 
    stay_cate AS stay_group,
    ROUND(AVG(toas), 2) AS avg_acculturative_stress
FROM students
GROUP BY stay_group
ORDER BY avg_acculturative_stress DESC;

  stay_group  avg_acculturative_stress
0                                  NaN
1       Long                     75.44
2     Medium                     72.86
3      Short                     71.03